.screen{
  display: flex;
}

.nav-zone{
  width: 25vw;
  height: 100vh;
}

.middle{
  width: 50vw;
  height: 100vh;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.trends{
  width: 20vw;
  height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.icons{
  font-size: 25px;
  border: none;
  color: dodgerblue;
}
.plus{
  font-size: 40px;
}

.home{
  border-bottom: 1px solid lightgrey;
}

h4{
  margin-left: 10px;
  color: black;
}

.tweetInput{
  width: 100%;
  height: 60px;
  outline: none;
  resize: none;
  border: none;
  font-size: 15px;
}
.tweetBar{
  width: 100%;
  display: flex;
}

.left-icons{
  padding-left: 35px;
  width: 50%;
  display: flex;
}

.tweetArea{
  display: flex;
}

.right-icons{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.tweetSubmit{
  width: 90px;
  height: 40px;
  color: aliceblue;
  background-color: dodgerblue;
  border: none;
  border-radius: 20px;
}

@media all and (max-width: 800px) {
  .tweetArea{
    display: none;
  }
  .tweetBar{
    display: none;
  }
  .trends{
    display: none;
  }
  .middle{
    width: 90vw;
  }
  .nav-zone{
    width: 10vw;
  }
}