h1.TrendsTitle {
  padding-top: 15px;
  color: rgb(71, 71, 71);
  border-bottom: 1px solid rgba(165, 165, 165, 0.4);

}
#cog {
  color: blue;
}

h3 {
  color: grey;
  opacity: .6;
  margin-bottom: 4%;
  margin-top: .5%;
}

p {
  margin-top: 0;
  margin-bottom:1%;
}

a#showMore {
  color:rgb(29, 161, 242);
  font-size: 16pt;
}

.trendsContainer {
  height: 90vh;
  width: 27vw;
  /* border: 2px solid rgba(165, 165, 165, 0.6); */
  border-radius: 10px;
  background: rgb(183, 231, 252, .3);
  padding-left: 1vw;
  margin-top: 1.5vh;
  float: right;
}

.topTrendingTweetContainer {
  height: 15vh;
  width: 26vw;
  border: 2px solid rgba(165, 165, 165, 0.4);
  border-radius: 30px;
  margin-bottom: 10px;
}

.trendingTweetContent {
  padding-left: 1vw;
  padding-top: 1vh;
}

.trendItemContainer {
  height: 12vh;
  width: 26vw;
  border-bottom: 1px solid rgba(165, 165, 165, 0.4);
  margin-bottom: 1vh;
}